.header {
    background-color: var(--backgroundColor);
    position: fixed;
    max-height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: var(--zIndexOnTop);
}

.header .logo a {
    font-size: 2rem;
    font-weight: var(--fontWeightBold);
    color: var(--blackColor);
    text-shadow: 4px 4px 2px var(--primaryColor);
}

.content {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.content .title h1 {
    font-weight: 600;
}

.content .phone-input-wrapper,
.content .password-input-wrapper {
    display: flex;
    border: 1px solid var(--borderColor);
    padding: 12px 20px;
    margin: 30px 0 15px 0;
    border-radius: 10px;
    position: relative;
    align-items: center;
    transition: all 0.3s linear;
}
.content .phone-input-wrapper.invalid,
.content .password-input-wrapper.invalid {
    border-color: var(--alertColor) !important;
}

.content .phone-input,
.content .password-input {
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: var(--fontSizeLarge);
    width: 100%;
}

.phone-input-alert,
.name-input-alert,
.password-alert {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--alertColor);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightNormal);
    opacity: var(--opacityHigh);
}

.content input::placeholder {
    font-weight: var(--fontWeightBold);
    color: var(--blackColor);
    opacity: var(--opacityLow);
}

.content .hidden-input {
    display: none;
}

.content .country-selection {
    position: relative;
    font-size: var(--fontSizeLarge);
}

.content .country-selection .dropdown {
    position: absolute !important;
    left: -10px;
    bottom: -275px;
    background-color: var(--whiteColor);
    border: 1px solid #e4e4e4;
    box-shadow: 3px 4px 7px 0px #cdc7c7;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 250px;
    width: 300px;
    z-index: var(--zIndexDropdown);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
}

.dropdown-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--zIndexOverlay);
}

.content .country-selection .dropdown.open {
    visibility: visible;
    opacity: 1;
}

.content .country-selection .dropdown .option {
    padding: 8px 20px;
    display: flex;
    font-size: var(--fontSizeSmall);
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-weight: var(--fontWeightNormal);
}

.content .country-selection .dropdown .option:hover {
    background-color: rgb(233, 233, 233);
}

.content .country-selection .flag {
    margin-right: var(--spacingSmall);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
    background-position: center;
    height: 20px;
    min-width: 30px;
    border-radius: 2px;
}

.select-input-content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
}

.select-input-content .more-icon {
    transition: all 0.2s linear;
    color: var(--blackColor);
    opacity: 0.5;
}

.select-input-content .more-icon.active {
    transform: rotate(180deg);
}

.select-input-content .code {
    margin-left: var(--spacingMedium);
    font-weight: var(--fontWeightBold);
    max-width: 80px;
    overflow: hidden;
}

.memorized-login-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.memorized-login-wrapper .checkbox-label {
    font-size: var(--fontSizeSmall);
    color: var(--blackColor);
    opacity: 0.7;
    font-weight: var(--fontWeightNormal);
}

form .submit-btn {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    background-color: var(--primaryColor);
    transition: all 0.2s linear;
    border-radius: 50px;
    color: var(--whiteColor);
    font-weight: var(--fontWeightNormal);
}

form .submit-btn.disabled {
    cursor: no-drop;
    background-color: var(--disabledColor);
    color: var(--whiteColor);
    opacity: 0.6;
}

form .submit-btn:hover {
    opacity: 0.8;
}

.social-login-buttons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.social-login-buttons-group button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: var(--fontSizeSmall);
}

.social-login-buttons-group button span {
    display: block;
    width: 100%;
    text-align: center;
}

.social-login-buttons-group .logo {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    text-align: start;
}

.resend-otp-btn {
    width: 100%;
    /* border: 1px solid var(--borderColor); */
    border-radius: var(--borderRadiusMedium);
    padding: 15px 0;
    margin-top: 30px;
    background-color: var(--primaryColor);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightBold);
    color: var(--whiteColor);
    transition: all 0.2s linear;
}

.resend-otp-btn:hover {
    opacity: 0.8;
}

.resend-otp-btn.disabled {
    background-color: var(--disabledColor);
    opacity: 1;
}

.invalid-otp input {
    border: 1px solid var(--alertColor) !important;
    box-shadow: 0px 0px 4px 2px var(--alertColor) !important;
    transition: all 0.2s linear !important;
}

.box-header {
    position: relative;
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.back-button {
    position: absolute;
    left: 0;
    transition: all linear 0.2s;
}

.back-button:hover {
    opacity: 0.7;
}

button:hover,
button:active {
    opacity: var(--opacityHigh);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: var(--fontSizeTiny);
    font-weight: var(--fontWeightNormal);
    opacity: 0.6;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}

.show-password-btn .icon {
    animation: showPassword 0.1s linear;
    color: var(--blackColor);
    opacity: 0.5;
}

@keyframes showPassword {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}
